.reveal section img {
  border: 0;
  box-shadow: none;
}

.reveal p {
  font-size: 36px;
}

.reveal ul {
  font-size: 34px;
}

.reveal ol {
  font-size: 34px;
}

.reveal li {
  text-align: left;
}



.appliance table td{
  font-size: 60%;
}

.appliance table th{
  font-size: 70%;
}
